@import "../../sass/abstract/mixins";
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-heading {
    &__svg {
      height: calc(max(0.6rem + 0.4vw, 0.4rem + 0.6vw) * 9);
      width: auto;
    }

    // &__h1 {}
  }

  //   &__subHeading {}

  &__logo {
    position: relative;

    & svg {
      position: absolute;
      top: -4.2%;
      // top: -10%;
      right: -2vw;
      width: calc(max(4.5rem, 20vw));

      & > * {
        transition: all 0.1s;
      }

      & rect:hover {
        fill: rgb(255, 0, 0);
      }

      & circle,
      polygon {
        pointer-events: none;
      }
    }
  }
}

@include respond(phone) {
  .header {
    &-heading {
      &__h2 span {
        display: flex;
        flex-direction: column;

        & i {
          position: absolute;
          visibility: hidden;
        }
      }
    }

    &__logo {
      flex: 0 0 100%;
      order: -1;

      & svg {
        position: relative;
        left: 80%;
      }
    }
  }
}
